In [30]:
import pandas as pd
data = pd.read_csv("train.csv", index_col=0)
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [26]:
feature_cols = ["Pclass", "SibSp", "Parch", "Fare"]
X = data[feature_cols]
print(X)
y = data.Survived

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=1)

x_train
y_train

             Pclass  SibSp  Parch      Fare
PassengerId
1                 3      1      0    7.2500
2                 1      1      0   71.2833
3                 3      0      0    7.9250
4                 1      1      0   53.1000
5                 3      0      0    8.0500
6                 3      0      0    8.4583
7                 1      0      0   51.8625
8                 3      3      1   21.0750
9                 3      0      2   11.1333
10                2      1      0   30.0708
11                3      1      1   16.7000
12                1      0      0   26.5500
13                3      0      0    8.0500
14                3      1      5   31.2750
15                3      0      0    7.8542
16                2      0      0   16.0000
17                3      4      1   29.1250
18                2      0      0   13.0000
19                3      1      0   18.0000
20                3      0      0    7.2250
21                2      0      0   26.0000
22                2      0      0   13.0000
23                3      0      0    8.0292
24                1      0      0   35.5000
25                3      3      1   21.0750
26                3      1      5   31.3875
27                3      0      0    7.2250
28                1      3      2  263.0000
29                3      0      0    7.8792
30                3      0      0    7.8958
...             ...    ...    ...       ...
862               2      1      0   11.5000
863               1      0      0   25.9292
864               3      8      2   69.5500
865               2      0      0   13.0000
866               2      0      0   13.0000
867               2      1      0   13.8583
868               1      0      0   50.4958
869               3      0      0    9.5000
870               3      1      1   11.1333
871               3      0      0    7.8958
872               1      1      1   52.5542
873               1      0      0    5.0000
874               3      0      0    9.0000
875               2      1      0   24.0000
876               3      0      0    7.2250
877               3      0      0    9.8458
878               3      0      0    7.8958
879               3      0      0    7.8958
880               1      0      1   83.1583
881               2      0      1   26.0000
882               3      0      0    7.8958
883               3      0      0   10.5167
884               2      0      0   10.5000
885               3      0      0    7.0500
886               3      0      5   29.1250
887               2      0      0   13.0000
888               1      0      0   30.0000
889               3      1      2   23.4500
890               1      0      0   30.0000
891               3      0      0    7.7500

[891 rows x 4 columns]

PassengerId
36     0
47     0
454    1
292    1
749    0
42     0
225    1
341    1
126    1
804    1
801    0
109    0
579    0
889    0
594    0
551    1
1      0
685    0
530    0
245    0
75     1
161    0
745    1
67     1
577    1
737    0
413    1
762    0
511    1
742    0
      ..
87     0
479    0
504    0
754    0
216    1
581    1
563    0
399    0
669    0
491    0
253    0
469    0
358    0
255    0
277    0
179    0
282    0
391    1
509    0
750    0
584    0
130    0
145    0
848    0
646    1
716    0
768    0
73     0
236    0
38     0
Name: Survived, Length: 668, dtype: int64

In [27]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [28]:
y_pred = knn.predict(x_test)

In [29]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.69955156950672648